h1 {
  margin: 20px;
  border: none;
  font-family: "Lucinda Console", "Courier New", monospace;
}

.search-container {
  margin: 20px;
  width: 80em;
  position: absolute;
}

button {
  z-index: 1;
  justify-content: center;
  background-color: rgb(39, 209, 135);
  margin: 20px;
  border: none;
  border-radius: 5px;
  height: 3rem;
  color: whitesmoke;
  font-size: 16px;
}

.button-container {
  width: 1000px;
  height: 100px;

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.image-card {
  border: 2px solid grey;
  box-shadow: 3px 4px rgb(39, 209, 135);
  width: 320px;
  height: 500px;
  overflow: scroll;
}

.image {
  object-fit: cover;
  margin: 10px;
  width: 300px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 30px;
}